@import '../../styles/varibles'; 
.body{
    .image{
        display: flex;
        justify-content: center;
        .logo{
            aspect-ratio:auto;
            height: 35px;
        }
        margin: 45px;
    }
    .main{

        background-color: $sg-white;
        border-radius: 10px;
        padding: 10px 40px;
        .head{
            font-size: 25px;
        }
        .para{
            color: $sg-black-50;
        }
        .form{
            .input{
                margin: 25px 0;
                display: grid;
                gap: 10px;
                .label{
                    font-size: 16px;
                    color: $sg-black-50;
                    font-weight: 600;
                }
                .inputfilled{
                    border-radius:100px ;
                }
            }
        }
    }
}